 <body background="https://qph.cf2.quoracdn.net/main-qimg-bec27fe003907db0274dac3c4269a5b1-pjlq">
<h1> <center> YAAZHI TECH SOLUTIONS </h1>
<h3> <marquee> <font color="red"> Welcome to the Automation world </font> </marquee> </h3>
<font color="blue"> <h2> About Yaats: 
<p> <font color="white"> ~To achieve the goals using automation. <br>
~The main goal is to empower women. <br>
~We provide oppurtunities to the young developers. <br>
~Improvising individuality. <br>
~We have done many projects successfully. <br>
~We satisfying our clients by using latest technologies. </p> </font> </h2>



